# App Settings
# Possible values: TRACE, DEBUG, INFO, WARN, ERROR, OFF
LOG_LEVEL=INFO
AUCTION_PORT=8080

# Containers
CONTAINER_API=auction-api
CONTAINER_SQLSERVER=auction-sqlserver
CONTAINER_MONGODB=auction-mongodb

# SQL Server
MS_DB_PORT=1433
MS_DB_USERNAME=sa
MS_DB_PASSWORD=your_strong_password

# Postgresql
PG_DB_PORT=5432
PG_DB_USERNAME=sa
PG_DB_PASSWORD=your_strong_password

# Auction Secret Key (min. 32 bytes hex)
JWT_SECRET=your_secret_key_here

# Auction Fixtures Params
FIXTURE_ADMIN_USERNAME=your_admin_email
FIXTURE_ADMIN_PASSWORD=your_admin_password
FIXTURE_USER_PASSWORD=your_user_password